@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this to your CSS file */
.blur-background {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 49;
  }